

.columns {
    columns: 4 250px;
    column-rule: 3px solid #000000;
    column-gap: 3rem;
}

.columns p {
  margin-top: 0;
}

.columns h2 {
  margin-top: o;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  break-inside: avoid;

}

.welcome {
    text-align: center;
    color: #aa0000;
} 



.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px;
    row-gap: 5em;
    column-gap: 5rem;
}

.box {
background-color: black;
color: blanchedalmond;
padding: 0%;
margin: 0%;
box-sizing: border-box;
}

.box:first-child {
    background-color: orange;
    display: grid;
    place-content: center;
}
.box:nth-child(2) {
    background-color: rgb(9, 63, 9);
}

.box:nth-child(3) {
    background-color: rgb(68, 68, 218);
}