


.column1of3, .column2of3, .column3of3 {
    margin-right: 20px;
}

.columns {
    columns: 4 250px;
    column-rule: 3px solid #000000;
    column-gap: 3rem;
}

.columns p {
  margin-top: 0;
}

.columns h2 {
  margin-top: o;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  break-inside: avoid;

}

.welcome {
    text-align: center;
} 